@model ForgotPasswordViewModel
@{
    ViewBag.Title = "¿Olvidaste tu Password?";
}

@section Breadcrumb{
    <li class="active">Recuperar Password</li>
}

<!-- CONTENT section -->
<div id="pageContent">
    <div class="container">
        <!-- title -->
        <div class="title-box">
            <h1 class="text-center text-uppercase title-under">¿OLVIDASTE TU PASSWORD?</h1>
        </div>
        <!-- /title -->
        <div class="row">
            <div class="divider divider--md visible-sm visible-xs"></div>
            <section class="col-sm-12 col-md-12 col-lg-12 col-xl-4">
                <div class="login-form-box">
                    <h3 class="color small">INGRESA TU EMAIL</h3>
                    <p>
                        Completa tus datos para poder registrar una cuenta
                    </p>
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form", id = "form-returning" }))
                    {

                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="email">Email<sup>*</sup></label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" ,@autofocus = "autofocus"})
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <button type="submit" class="btn btn--ys btn-top btn--xl"><span class="icon icon-vpn_key"></span>Enviar</button>
                            </div>
                            <div class="divider divider--md visible-xs"></div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="pull-right note btn-top">* Campos Requeridos</div>
                            </div>
                        </div>
                        <p class="btn-top">
                            <a class="link-color" href="@Url.Action("Login")">¿Yá tienes una cuenta?</a>
                        </p>
                    }
                </div>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
